@media screen and (max-width: 768px) { 
          
                    
        body {
            margin: auto ;
            width: auto;
            
            }

    /* header  */
        header {   
            padding: auto;
            display: flex;
            flex-direction: column;
            justify-content:center;
        }

        header img {
            text-align: center;
            
        }
        /* nav bar */

      nav li {
        width: 100%;
        font-weight: 500;
        padding: 2.5em;
        padding-top: 1em;
        text-align: center;
        transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
        border-bottom: 3px #f2f2f2 solid;
        text-align: center;
    
    }
    
    nav ul { padding-left: 0em;
      
    }

    nav li:hover {
        width: 100%;
        font-weight: 500;
        padding: 2.5em;
        padding-top: 1em;
        text-align: center;
        transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
        border-bottom: 3px #0065fc solid;
        border-top: none ;
      
    }

    nav a:hover {
        border-top: none ;
    }
    /* searchbar  */
    .iconesearch {
        display: block;
    }

    .searchtext{
        display: none;
        cursor: pointer;
    }
    .fa-magnifying-glass
     {
        cursor: pointer;
        margin-left:-1em ;
        background-color: #0065FC;
        color: white;
	padding: 1.1em;
    border: none;
	border-radius: 1em 1em 1em 1em;
	
    }

    form {
        display: flex;
        justify-content: center;
        margin:0em;
    }

    section h1 {
    
        margin: 1em;
    }

    section p {
        margin: 1em;
        padding: 0.5em;
    }


    /* filters  */
    .filtersbtn i {
        height: 2.5em;
        width: 2.5em;
        
       
    }
    
    .listfilters p {
	padding: 0.5em;
	padding-right: 1.5em;
	margin: 0em;
	font-weight: bold;
}

.filtersbtn {
    margin: 0.5em;
}

.listfilters {
    padding: 0em;
	align-items: center;
	display: flex;
	flex-flow: wrap;
    margin: 0em;

}
.filters { margin: 0.5em;

}
.filters h2 {
    font-size: 1em
}

/* hébergement */


.hébergement {
	margin: auto;
	display: flex;
    align-items: none;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 0em;
	padding: 0em; 
	width: 100%;
}


.ContainerArticleAccommodation {

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	width:  100%;
	
    
}


/* card  */


.CardHebergement {
	margin: 1em 1em 1em 1em  ;
	width:100%;
    height: 200px;
	padding: 5px;
}

.cardHebergementbody {
	text-align: left;
	box-sizing: border-box;
	padding-left: 1em;
	margin-bottom: -2em;
	font-size: 0.8em;
}

.cardHebergementbodyh3 {
	
	margin: 0; 
    margin-top: 4px;

	font-size: 1.4em;
	font-weight: bold;


}
.cardHebergementbody p {

	padding: 0em;
    margin: 0em;
    margin-top: 2px;
	font-size: 1.1em;
	font-weight: normal;
}
.cardImageHebergement {
    height: 65%;
}

.cardImageHebergement img {
	
	position: absolute;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
}

.StarRatingHebergement {
    font-size: 1em;
    padding: 5px 0px 1px 0px;
}

/* listpopular */
.listactivity {
	width: 100%;
	display: flex;
    flex-direction: column;
	justify-content: space-around;
}
.contenairpopular {
	display: flex;
	flex-direction: column;
    margin: 1em;
}

.sectionpopular {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border-radius: 0em; 
	padding: 0em;
    margin: 0em;
	width: auto;
	
}

/* card popular  */

.card-popular-apartment {
	display: flex;
	align-items: center;
    width: 100%;
}

.cardContainerPoluparApartment {
    width: 100%;
    height: 170px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    
}

.ImgCardPopular {
	width: 100%;
	height: 170px;

}

.card-popular-apartment img {
	width: 50%;
	
}

.cardPopularbody {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 10px ;
    display: flex;
    flex-direction: column;
}
.cardPopularbody h3 {
	margin: 0px 0px 10px 0px ;

    font-size: 1.2em;

}
.cardPopularbody p 
{ 
    padding: 0em ;
    margin: 0em;
    font-size: 1em;
    
}

.cardPopularbody i {
    font-size: 1.4em;
   
}

.cardPopularbody .StarRatingPopular{
     padding: 5em 0px 0px 0px ;
}


/* activity  */


.BigCardActivity  {


	width: 100%;
    height: 100%;    
    max-width: 100%;
	box-shadow: 0px 5px 10px rgba(56, 56, 56, 0.315);
	border-radius: 1em 1em 1em 1em;
}

.SmallCardActivity  img {
    width: 100%;
}
.SmallCardActivity  {
    width: 100%;
    height: 80%;
	width: 100%;
}

.MediumCardActivity  img {
    width: 100%;
}
.MediumCardActivity  {
    width: 100%;
    height: 80%;
	width: 100%;
}

.bigactivityimg  {
    height: 100px;
  
}

.mediumActivityImg .BigCardActivity {
    width: 100%; 
    height: 100px ;
    box-shadow: 0px 5px 10px rgba(56, 56, 56, 0.315);
    border-radius: 1em 1em 1em 1em;
}




}