@font-face {
	font-family: 'Raleway';
	src: url("fonts/static/Raleway-Black.ttf");
	src: url("fonts/static/Raleway-Bold.ttf");
	src: url("fonts/static/Raleway-Medium.ttf");
	src: url("fonts/static/Raleway-Regular.ttf");
	src: url("fonts/static/Raleway-Medium.ttf");


}

body {
	margin-top: 0em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* header + nav */
header {
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img {
	width: 6em;
}

nav ul {
	display: inline-flex;
	list-style: none;
}



nav a {
	color: black;
	text-decoration: none;
	padding: 0.3em;
	
	padding-right: 1em;
	padding-left: 1em;

}


nav a:hover {
	
	border-top: 4px #0065FC solid;
	padding-top: 1.8em;
	color: #0065FC;
	padding-right: 1em;
	padding-left: 1em;
}

/* section 1  */
section p {
	padding: 0%;
	margin: 0%;
}



/* searchbar  */
form {
	display: flex;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

form .fa-location-dot {
	
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 1em 0em 0em 1em;
	border: #f2f2f2 2px solid;

}

form .search {
	padding: 1.1em;
	border: #f2f2f2 2px solid;

}

form p {
	padding: 1.2em;
	background-color: #0065FC;
	border-radius: 0em 1em 1em 0em;
	color: aliceblue;
	font-weight: bold;
}

.search::placeholder {
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
}


/* filters */



.listfilters p {
	padding: 1em;
	padding-right: 1.5em;
	margin: 0em;
	font-weight: bold;
}

.listfilters {
	align-items: center;
	display: flex;
	flex-flow: wrap;

}

.filtresbtn i {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 3em;
	width: 3em;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 5em;
	border: #DEEBFF solid 1px;
}

.filtresbtn {
	border: #f2f2f2 solid 2px;
	display: flex;
	align-items: center;
	border-radius: 10em;
	border-left: none;
	margin: 1em;
}

.filtresbtn:hover {
	background-color: #deebff49;
}

#info {
	display: flex;
	align-items: center;

}

#info i {
	color: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	width: 2em;
	border: #f2f2f2 2px solid;
	border-radius: 100PX;
}

#info p {
	padding: 1em;

}

.iconesearch {
	display: none;

} 

/* section hébergement  */

.hébergement {
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border-radius: 1em;
	padding: 1em;
	width: 100%;
}

/* card article */
article:hover {
	transform: scale(1.02);
}

.container

/* listapartment + listpopularapartment  */
	{

	gap: 1em;
	display: flex;
	justify-content: center;
    width: 100%;
	max-width: 100%;
	min-width: 50%;
	

}

#containerarticle {

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 60px;
    
  
  
}
.hébergement a {
	color: rgb(0, 0, 0);
	text-decoration: none;

}

/* card hébergement  */
.card {
	margin: 1em;
	width:220px;
	padding: 4px;
	background-color: white;
	box-shadow: 0px 5px 10px rgb(56, 56, 56);
	border-radius: 1em 1em 1em 1em;
	max-width: 100%;
	min-width: 150PX;
}

.card-image {
	height: 110px;
    width: 100%;
	border-radius: 1em 1em 0em 0em;
	position: relative;
	overflow: hidden;
	object-fit:cover;

}


.card-image img {
	
	position: absolute;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
}

.card-body {
	text-align: left;
	box-sizing: border-box;
	padding-left: 1em;
	margin-bottom: 2em;
	margin-bottom: 2%;
	font-size: 0.8em;
}

.card-body h4 {
	margin-bottom: 1%;
	margin-top: 4%;
	padding: 0%;
	font-size: 1.2em;
	font-weight: bold;


}

.card-body p {

	padding-bottom: 1em;
	font-size: 1em;
	font-weight: normal;
}

.star {
	font-size: 0.8em;
}

.starblue {
	color: #0065FC;
}

.stargray {
	color: rgba(44, 44, 44, 0.301);
}

.otherapartement {
	margin-top: 3em;
	margin-left: 1em;

}

span {
	font-weight: bold;
}


/* list popular */




#titlepopular {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
}

.contenairpopular {
	display: flex;
	flex-direction: column;
}
.sectionpopular {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border-radius: 1em;
	padding: 1em;
	width: 40%;
	
}

.card-container {

	width: 300px;
	margin: 1em;
	padding: 5px;
	background-color: white;
	box-shadow: 0px 5px 10px rgb(56, 56, 56);
	border-radius: 1em 1em 1em 1em;
	
}

.card-popular-apartment {
	display: flex;
	align-items: center;

}

.card2-image {
	width: 40%;
	height: 120px;
	position: relative;
	overflow: hidden;
}


.card-popular-apartment img {
	width: 40%;
	min-height: 100%;
	object-fit: cover;
	border-radius: 1em 0em 0em 1em;
}

.card2-body {
	margin-right: 8px;
	padding-left: 5px;
	width: 60%;

}

.card2-body h4 {
	margin-bottom: 2%;
	margin-right: 8px;
	margin-top: 4%;
	padding: 0%;
	font-size: 1em;
	font-weight: bold;
}

.card2-body p {
	padding-left: 3px;
	padding-bottom: 1em;
	font-size: 0.8em;
	font-weight: normal;
}

.star2 {
	font-size: 0.6em;
	padding-top: 1em;
}

/* listactivity */
.listactivity {
	width: 100%;
	display: flex;
	justify-content: space-around;

}

.overlaycard {
	display: flex;
	flex-direction: column;
	gap: 1em;
	 
}

a {
	text-decoration: none;
	color: #000000;

}

.activitytitle {
	padding: 1px;
	margin-left: 10px;
}

/* card1  */
.card-activity1 {
	width: 300px;
	box-shadow: 0px 5px 10px rgba(56, 56, 56, 0.315);
	border-radius: 1em 1em 1em 1em;
}

.activityimg {
	object-fit: cover;
	position: relative;
	height: 80%;
	width: 100%;
	
	border-radius: 1em 1em 0em 0em;
}

.activityimg img {
	height: 500px;
	
}
 

/* card2 */
.card-activity2 {
	width: 280px;
	max-width: 100%;
	box-shadow: 0px 5px 10px rgba(56, 56, 56, 0.315);
	border-radius: 1em 1em 1em 1em;

}

.activityimg2 img {
	object-fit: cover;
	position: relative;
	width: 100%;
	max-height: 100%;
	height: 600px;
}

.activityimg2 {
	height: 150px;
	position: relative;
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	border-radius: 1em 1em 0em 0em;
}



/*  */
footer {
	margin-top: 4em;
	display: flex;
	justify-content: space-evenly;
	background-color: #f2f2f2;
	padding-bottom: 2em;
	
}

footer ul {
	list-style: none;
	padding: 0px;

}

footer li {
	padding: 4px;

}

footer h5 {
	font-size: 1em;

}

@media screen and  (max-width:992px) {

	body {
		
		margin: auto;
	}

	#part1 {
		margin: 1em;
	
	}
	#part1 h1 {
		font-size: 1.3em;
		
	}
		main
	 {
		margin: 1.5em;
		
	}
	/* search bar */
	form {
		
		margin-top: 2em;
		margin-bottom: 2em;
	}
	
	form i {
		background-color: #f2f2f2;
		padding: 1em;
		border-radius: 1em 0em 0em 1em;
		border: #f2f2f2 2px solid;
	
	}
	
	form .search {
		padding: 0.9em;
		border: #f2f2f2 2px solid;
	
	}
	
	form p {
		padding: 1em;
		font-size: 1em;
		
	}
	
	.search::placeholder {
		font-size: 1em ;
	}
	#info {
		margin-left: 1em;
	}

		.container{
		display: flex;
		flex-direction: column-reverse;

	}
	/* popular apartment  */
	.contenairpopular {
		display: flex;
		flex-direction: row;
		align-items: center;
		
	}

	.sectionpopular {
		margin: auto;
		margin-bottom: 1em;
		width: 770px;
		padding: 0.4em;
	}

	.hébergement {

		margin: auto;
		margin-bottom: 1em;
		width: 760px

	}

	.card {
		margin: 1em;
		height: 160px;
		width:180px;
		padding: 4px;
		background-color: white;
		max-width: 100%;
		min-width: 150PX;

	}

	.card-image {
		height: 80px;

	}

	.card-body h4 {
		margin-bottom: 1%;
		margin-top: 4%;
		padding: 0%;
		font-size: 1em;
		font-weight: bold;
	}


	.card2-image {
		width: 40%;
		height: 90px;
		position: relative;
		overflow: hidden;
	}

	.card-container {

		width: 300px;
		height: 100px;
		padding: 5px;
		background-color: white;
		box-shadow: 0px 5px 10px rgb(56, 56, 56);
		border-radius: 1em 1em 1em 1em;
		
	}

	.card2-body h4 {
		font-size: 0.8em;
	}

	.card2-body p {
		font-size: 0.7em;
	}


	.contenairpopular {
		display: flex;
		align-items: center;
	}

	/* LIST ACTIVITY */

	.listactivity {
		display: flex;
		justify-content: center ;
		gap: 1EM;
		margin: auto;
	}

	/* Card1 */

	.card-activity1 {
		width: 150px; 
		height: 300px ;
		box-shadow: 0px 5px 10px rgba(56, 56, 56, 0.315);
		border-radius: 1em 1em 1em 1em;
	}
	.activityimg {
		
		height: 230px;
		position: relative;
		object-fit: cover;
		border-radius: 1em 1em 0em 0em;
		
	}
	.activityimg img {

		height: 200px;
		
	}
	.activitytitle {
		margin: 0em;
	} 

 /* Card2 */
	.activityimg2 img {
		object-fit: cover;
		position: relative;
		max-height: 100%;

	}

	.card-activity2 {
		width: 200px;
		max-width: 100%;
			
	}

	.activityimg2  {
		object-fit: cover;
		position: relative;
		height: 100px;
	}
	.card-activity2 h4
	{
		padding:5px ;
		margin: 5px;
		font-size: 0.9em;
	}
	.overlaycard {
		gap:1em;
		padding:0em;
	
	}
	.sectionactivity
	{ 
		margin: 3em
	}
}

	
